
/* Global */

body{
    background-image: url(../IMG/Background.png);
    background-size: 100%, contain;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}


/* Header */

.header-menu{
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    /* margin-bottom: 54px; */
}

.logo{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin: 18px 0 18px 79px;
}

.logo:hover a{
    color: #3CB878;
}

.welcome-menu{
    display: flex;
    flex-direction: row;
}

.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 126px;
    margin-top: 17px;
    margin-right: 20px;
}

.header-icon svg{
    stroke: #FFFFFF;
    fill: #FFFFFF;

}

.header-icon:hover svg{
    stroke:#3CB878;
    fill: #3CB878;
}

.text-welcome{
    padding-left: 53px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    margin: 18px 79px 18px 0;
}

.text-welcome::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    left: 27px;
}

.text-welcome a:hover{
    color: #3CB878;
}

/* Form */
    /* Header form */

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.form{
    width: 444px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
}

:focus{
    outline: none;
}

.header-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-form a:hover{
    text-decoration: underline;
    color: #01813F;
}

.header-form span{
    font-size: 20px;
    color: #434343;
    margin-top: 31px;
    padding-left: 61px;
    position: relative;
}

.header-form span::before{
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0px;
}

.header-form a{
    font-size: 14px;
    color: #3CB878;
    margin-top: 33px;
    margin-right: 59px;
}

.authorization-form{
    width: 324px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

    /* Facebook and Google */

.social-network{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.btn{
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Ubuntu';
    border-radius: 4px;
    cursor: pointer;
}

.btn-facebook{
    width: 160px;
    background-color: #305DB8;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease-in-out 0.2s;
}

.btn-facebook:hover{
    background-color:#022263;
}


.btn-facebook img{
    padding: 12px 18px 12px 16px;
}

.btn-facebook span{
    padding-left: 18px;
    position: relative;
}

.btn-facebook span::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    left: 0;
    top: -5px;
}

.btn-google{
    width: 160px;
    background-color: #DF4A32;
    display: flex;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease-in-out 0.2s;
}

.btn-google:hover{
    background-color:#AB1F09;
}

.btn-google img{
    padding: 15px 7px 14px 12px;
}

.btn-google span{
    padding-left: 30px;
    position: relative;
}

.btn-google span::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    left: 0;
    top: -5px;
}

    /* or */

.or-line{
    width: 322px;
    height: 18px;
    margin-top: 34px;
    margin-bottom: 4px;
    position: relative;

}

.or-line span{
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    padding-left: 156px;
    padding-right: 155px;
}

.or-line span::before{
    content: "";
    display: block;
    width: 152px;
    height: 0px;
    border-top: 1px solid #F2F2F2;
    top: 8px;
    left: 0;
    position: absolute;
}

.or-line span::after{
    content: "";
    display: block;
    width: 152px;
    height: 0px;
    border-top: 1px solid #F2F2F2;
    top: 8px;
    position: absolute;
    right: 0;
}

/* Form fields */

.form-field{
    width: 100%;
    height: 44px;
    position: relative;
    margin-bottom: 15px;
}

.field-content{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
}

input:focus{
    border: 1px solid #F2F2F2;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

input:focus::-webkit-input-placeholder{
    color: #434343;
}

::placeholder{
    color: #BEBEBE;
    font-size: 14px;
    font-family: 'Ubuntu';
}

.checkbox-field{
    margin-bottom: 20px;

}

.checkbox-text{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-left: 8px;
}

.checkbox-text a{
    color: #3CB878;
}

input[type="checkbox"]{
    display:none;
}

input[type="checkbox"] + label{
    cursor: pointer;
}

input[type="checkbox"] + label::before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    border: 1px solid #F2F2F2;
}

input[type="checkbox"]:checked + label::before{
    background-image: url(../IMG/Vector3.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-text a:hover{
    color: #01813F;
    text-decoration: underline;
}


.btn-submit{
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    margin-bottom: 38px;
    transition: background-color 0.5s ease-in-out 0.3s;
}

.btn-submit:hover{
    background-color: #01813F;
}












